:root {
    --theme-green:#077b51;
    --theme-dark-green:#043a30;
    --theme-light-aqua:#c3fff4;
  }
/* root */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    
    font-family: "Telegraf UltraLight", sans-serif;
    src: url("assets/fonts/FontsFree-Net-Telegraf-UltraLight-200.ttf") format('truetype');
}
*{
    font-family: "Telegraf UltraLight", sans-serif;
}
.bg-green{
    background-color: var(--theme-green);
    color: #fff;
}
.bg-light-green{
    background-color: var(--theme-dark-green);
    color: #fff;
}
/* root end */


/* footer */
footer{
    background-image: linear-gradient(242deg, #63d471 0%, #374044 70%);
    color: #fff;
}
.footer-quick-links{
    background: transparent;
}
.footer-quick-links a{
    color:#fff;
}
.footer-quick-links{
    border: none;
}
/* .social-border{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    transition: all .2s linear;
}
.social-border:hover{
    transform: perspective(1);
    background-color: #146c43; 
    color: #fff;
} */

.social-border {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1.8em;
    border: 2px solid #fff; 
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #fff;
   }
   
   .social-border::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #146c43; 
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .social-border:hover::before {
    width: 150%;

   }
   
   .social-border:hover {
    color: #fff;
    transform: scale(1.1);
   }
/* footer end */

/* HOME PAGE */
    /* section-2  */
    .custom-nine-column {
        width: 11.1111111111%;
    }
    .step{
        object-fit: cover;
        border: none;
    }
    .card{
        /* width: 350px; */
    }
    /* section-2  end*/
/* HOME PAGE END */



/* PARTNER WITH US PAGE */
    .bg-ts{ 
            background-color: rgb(255 255 255 / 24%); 
    }
    .custom-form-control{
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    
    .custom-form-control:focus{ 
        box-shadow: 3px 14px 8px -4px  rgba(2, 88, 60, 0.774);  
    }
/* PARTNER WITH US PAGE END */

/* ABOUT US PAGE */
    .ab-card{
        height: 500px;
    }   
    .ab_banner_img{
        width: 600px;
    }
    .ab-card-one{
        transition: background-color .2s linear;
    }
    .ab-card-one:hover{
        background-color: #08925f;
    }
    .ab-card-two{
        transition: background-color .2s linear;
    }
    .ab-card-two:hover{
        background-color: #055647;
    }
    .team-box{
        cursor: pointer;
    }
    .team_box_img_container{
        transition:  all 0.3s linear;
    }
    .team-box:hover > .team_box_img_container{
        transform: scale(1.1);
    }
/* ABOUT US PAGE END */